.main{
    width: 1000px;
    height: 850px;
    float: left;
    margin-left : -26px; 
    
    

}

.salam{
    width: 831px;
    height: 110px;
    background-color: yellow ;
    float: left;
    margin: -7px 19px;
    padding-left:20px;
    padding-top: 20px;
  
}

.saqol{
    width: 1000px;
    height: 490px;
    float: left;
    padding-left:20px;
    padding-top: 20px;
    
   
}

.a{
    width: 832px ;
    height:110px ;
    background-color: yellow;
    float: left;
    margin: 30px 19px;
    padding-left:20px;
    padding-top: 20px;
}

.b{
    height: 470px;
    width: 250px;
    float: left;
    background-color: yellow ;
    margin: 10px 10px 10px 0px;
    padding-left:20px;
    padding-top: 20px;

}

.c{
    height: 470px;
    width: 250px;
    float: left;
    background-color: yellow;
    margin: 10px 10px 10px 10px;
    padding-left:20px;
    padding-top: 20px;
}
.d{
    height: 470px;
    width: 250px;
    background-color: yellow;
    float: left;
    margin: 10px 10px 10px 10px; 
    padding-left:20px;
    padding-top: 20px;
}